@font-face {
    font-family: Brandon-Reg;
    src: url(assets/fonts/Brandon_reg.otf);
}
@font-face {  
    font-family: Brandon-Med;
    src: url(assets/fonts/Brandon_med.otf);
}
@font-face {
    font-family: OS-Reg;
    src: url(assets/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OS-Semibold;
    src: url(assets/fonts/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: OS-Bold;
    src: url(assets/fonts/OpenSans-Bold.ttf);
}
