.navbar {
 	background-color: #222F5F;
 	border-radius: 0px 0px 0px 0px;
 	margin-bottom: 0px;
 	position: fixed;
 	overflow: hidden;
 	width: 100%;
 	z-index: 1;
 	position: absolute;
}

a, .navbar-brand {
 	margin-top: 0px;

}

/*
=================================
Toggle Button
=================================
*/

.navbar-toggle {
	border: 1px solid #22A2A2;
}
.navbar-toggle .icon-bar {
	background-color: #22A2A2;
}

/*
=================================
Navbar Menus
=================================
*/
img, .navbar-header {
 	margin-left: 10px;
 	margin-right: 1px;
 	margin-bottom: 10px;
 	margin-top: 0px;
 }

ul, .navbar-nav, li, a {
 	margin-right: 1px;
 	color: white;
}

/*
=================================
Background 1
=================================
*/

